*{
    padding: 0;
    margin: 0;
    border: none; 
	text-decoration: none
}
#main{
	border-collapse: collapse;
	width: 100%;
	margin-top: 20px;
}
.header{
	width: 100%;
	height: 50px;
	list-style: none;
}
.header >li{
	display: inline-block;
	padding: 20px;
}
.main>tr{
	position: fixed;
}

.Tieude{
	text-align: center;
	height: 100px;
	
	

	
}
.xiaomi{
	
	width: 100px;
	height: 65.25px;
	position: relative;
}
.Tieude >h1{
	text-align: center;
	font-size: 25px;
	line-height: 50px;
	color: red;
	margin-top: 20px; ;
}

.Tieude>a{
	display: inline;
	
	
	

}

	
.imgxiaomi{
	height: auto;
	width: 100px;
	margin: 7px 0px;
	display: inline-block;
}
.imgapple{
	height: auto;
	width: 100px;
	display: inline-block;

	
}
.imgsamsung{
	height: auto;
	width: 100px;
	display: inline-block;
	padding: 10px 13px ;

}
.imgthosky{
	
	height: auto;
	width: 150px;
	position: absolute;
	left: 50%;
	top:40%;
	transform: translateX(-50%);
	
	
	/* padding: 20px 13px ; */
}
.imgrealme{
	height: auto;
	width: 100px;
	padding: 0px 10px 22px 20px;
}

/* .imgmuiten{
	width: 20px;
	position: absolute;
	
	left: 30%;
	
} */



.nut{
	width: 200px;
	height: 200px;
}




th, td {
	text-align: left;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}


th {
	background-color: #f2f2f2;
	font-weight: bold;
}


tr:nth-child(even) {
	background-color: #f2f2f2;
}
